@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.calculator-fluid{
    width: 100%;
    padding: 10px;
}

.calculator{
    width: 350px;
    height: 550px;
    background-color: #262626;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 20px;
    
}

